In [60]:
from sklearn.utils import shuffle
import pandas as pd
import numpy as np

In [61]:
dataset = pd.read_excel("BreastTissue.xls","Data")
dataset = dataset.drop("Case #",axis=1)
dataset = shuffle(dataset)

In [62]:
dataset.describe()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
count,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000
mean,784.251618,0.120133,0.114691,190.568642,7335.155162,23.473784,75.381258,166.710575,810.638127
std,753.950075,0.068596,0.101347,190.801448,18580.314213,23.354672,81.345838,181.309580,763.019135
min,103.000000,0.012392,-0.066323,19.647670,70.426239,1.595742,7.968783,-9.257696,124.978561
25%,250.000000,0.067413,0.043982,53.845470,409.647141,8.180321,26.893773,41.781258,270.215238
50%,384.936489,0.105418,0.086568,120.777303,2219.581163,16.133657,44.216040,97.832557,454.108153
75%,1487.989626,0.169602,0.166504,255.334809,7615.204968,30.953294,83.671755,232.990070,1301.559438
max,2800.000000,0.358316,0.467748,1063.441427,174480.476218,164.071543,436.099640,977.552367,2896.582483

In [63]:
dataset.head()

,Class,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
10,car,410.000000,0.317824,0.297404,255.815179,10622.547110,41.524303,67.523209,246.742826,508.540356
40,mas,339.508548,0.045379,0.030020,88.629809,331.080390,3.735542,19.825581,87.621180,307.793194
92,adi,1800.000000,0.091979,0.205251,362.863321,15021.553888,41.397278,217.833969,290.203640,1893.663712
101,adi,2000.000000,0.106989,0.105418,520.222649,40087.920984,77.059161,204.090347,478.517223,2088.648870
7,car,275.677393,0.153938,0.187797,91.527893,1756.234837,19.187974,39.305183,82.658682,331.588302

In [90]:
labels = dataset.iloc[:,0]
attr = dataset.iloc[:,1:]
attr=(attr-attr.min())/(attr.max()-attr.min())
n = 75

In [91]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0, splitter="best")

clf.fit(attr.iloc[:n,:],labels.iloc[:n])
y_predicted = clf.predict(attr.iloc[n+1:,:])

from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

print "Accuracy = {} %".format(accuracy_score(labels.iloc[n+1:], y_predicted)*100)
print "Classification Report \n {}".format(classification_report(labels.iloc[n+1:], y_predicted, labels=dataset.Class.unique()))

Accuracy = 76.6666666667 %
Classification Report
              precision    recall  f1-score   support

        car       1.00      0.67      0.80         6
        mas       0.40      0.50      0.44         4
        adi       1.00      1.00      1.00         6
        gla       0.67      0.67      0.67         6
        fad       0.60      0.75      0.67         4
        con       1.00      1.00      1.00         4

avg / total       0.80      0.77      0.77        30

In [92]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()

clf.fit(attr.iloc[:n,:],labels.iloc[:n])
y_predicted = clf.predict(attr.iloc[n+1:,:])

from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

print "Accuracy = {} %".format(accuracy_score(labels.iloc[n+1:], y_predicted)*100)
print "Classification Report \n {}".format(classification_report(labels.iloc[n+1:], y_predicted, labels=dataset.Class.unique()))

Accuracy = 63.3333333333 %
Classification Report
              precision    recall  f1-score   support

        car       1.00      0.67      0.80         6
        mas       0.20      0.25      0.22         4
        adi       1.00      0.67      0.80         6
        gla       0.50      0.50      0.50         6
        fad       0.60      0.75      0.67         4
        con       0.67      1.00      0.80         4

avg / total       0.70      0.63      0.65        30

In [93]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()

clf.fit(attr.iloc[:n,:],labels.iloc[:n])
y_predicted = clf.predict(attr.iloc[n+1:,:])

from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

print "Accuracy = {} %".format(accuracy_score(labels.iloc[n+1:], y_predicted)*100)
print "Classification Report \n {}".format(classification_report(labels.iloc[n+1:], y_predicted, labels=dataset.Class.unique()))

Accuracy = 36.6666666667 %
Classification Report
              precision    recall  f1-score   support

        car       0.40      0.67      0.50         6
        mas       0.11      0.25      0.15         4
        adi       0.55      1.00      0.71         6
        gla       0.00      0.00      0.00         6
        fad       0.00      0.00      0.00         4
        con       0.00      0.00      0.00         4

avg / total       0.20      0.37      0.26        30

In [94]:
from sklearn.svm import SVC
clf = SVC()

clf.fit(attr.iloc[:n,:],labels.iloc[:n])
y_predicted = clf.predict(attr.iloc[n+1:,:])

from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

print "Accuracy = {} %".format(accuracy_score(labels.iloc[n+1:], y_predicted)*100)
print "Classification Report \n {}".format(classification_report(labels.iloc[n+1:], y_predicted, labels=dataset.Class.unique()))

Accuracy = 46.6666666667 %
Classification Report
              precision    recall  f1-score   support

        car       1.00      0.67      0.80         6
        mas       0.21      1.00      0.35         4
        adi       0.86      1.00      0.92         6
        gla       0.00      0.00      0.00         6
        fad       0.00      0.00      0.00         4
        con       0.00      0.00      0.00         4

avg / total       0.40      0.47      0.39        30